[submodule "bugzilla-oslc_adapter"]
	path = bugzilla-oslc_adapter
	url = https://lab.gsi.upm.es/smartdevops/oslc-bugzilla-github-integration-demo/bugzilla-oslc_adapter.git
[submodule "github-oslc_adapter"]
	path = github-oslc_adapter
	url = https://lab.gsi.upm.es/smartdevops/oslc-bugzilla-github-integration-demo/github-oslc_adapter.git
[submodule "ewetasker_server"]
	path = ewetasker_server
	url = https://lab.gsi.upm.es/ewe/ewetasker_server.git
[submodule "oslc-automation_interface"]
	path = oslc-automation_interface
	url = https://lab.gsi.upm.es/smartdevops/oslc-bugzilla-github-integration-demo/oslc-automation_interface.git
